<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Cup</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/codecup.css" rel="stylesheet">
</head>
<body>

<script type="text/html" id="codeivate-user-active-template">
    <div style="display: inline-block" class="codeivateContainer active">
        <p data-bind="text: 'Username: ' + name"></p>
        <p data-bind="text: 'Level: ' + level"></p>
    </div>
</script>

<script type="text/html" id="codeivate-user-inactive-template">
    <div style="display: inline-block" class="codeivateContainer inactive">
        <p data-bind="text: 'Username: ' + name"></p>
        <p data-bind="text: 'Level: ' + level"></p>
    </div>
</script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand codecup-brand" href="/home">Code Cup</a>
        </div>
        <div class="navbar-form navbar-right">
            <button type="button" class="btn btn-success" id="login-button">Log in</button>
            <button type="button" class="btn btn-success" id="register-button">Register</button>
        </div>
    </div>
</div>

<div id="user-container" class="userContainer">
    <h3>Developers Programming Now:</h3>
    <div id="active-user-container" data-bind="template: { name: 'codeivate-user-active-template', foreach: activeUsers, afterAdd: addToActiveMasonry }"></div>

    <h3>Developers Resting:</h3>
    <div id="inactive-user-container" data-bind="template: { name: 'codeivate-user-inactive-template', foreach: inactiveUsers, afterAdd: addToInactiveMasonry }"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/lib/linq.min.js"></script>
<script src="/js/lib/masonry.pkgd.js"></script>
<script src="/js/home/home.js"></script>
<script src="/viewmodels/viewmodels.js"></script>
</body>
</html>