/* Common */

body {
    background-color: #d1d1d1;
}

hr {
    border-color: #000ba2;
}

.inline-block {
    display: inline-block;
}

.mainContainer {
    position: absolute;
    padding-top: 50px;
}

.text-align-center {
    text-align: center;
}

.center {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
}

.navbar {
    background-color: #2e2f2b;
}

.codecup-brand {
    color: #00adff !important;
}

.width-20 {
    width: 20%;
}

.indent-10 {
    position: absolute;
    left: 10%;
}

/* Home */

.userContainer {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 0;
}

.codeivateContainer {
    border: 2px solid;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 3px #888888;
    margin: 10px 0 10px 0;
    padding: 0 40px 0 0;
}

.codeivateContainer.active {
    background-color: #9fff8b;
}

.codeivateContainer.inactive {
    background-color: #e0e3d8;
}

/* Login */

.loginContainer {
    padding-top: 10%;
}

/* Register */

.registerContainer {
    padding-top: 10%;
}