<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand codecup-brand" href="/home">Code Cup</a>
        </div>
        <div id="wrapper-no-login" class="navbar-form navbar-right">
            <a class="btn btn-success" id="login-button" href="/users/login">Log in</a>
            <a class="btn btn-success" id="register-button" href="/users/register">Register</a>
        </div>
        <div id="wrapper-login" class="navbar-form navbar-right not-visible">
            <strong id="navbar-username" class="navbar-username"></strong>
            <a class="btn btn-success" id="logout-button">Log out</a>
        </div>
    </div>
</div>