<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code Cup</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/codecup.css" rel="stylesheet">
</head>
<body>
<div id="main-container" class="mainContainer center width-20">
    <div class="registerContainer">
        <h2 class="text-align-center">Registration</h2>
        <form name="registration-form">
            <div id="username-wrapper">
                <label>Username:</label>
                <input id="username-field" type="text" name="username" class="form-control" placeholder="Username">
                <div id="username-error" class="alert-box alert-danger not-visible" role="alert">
                    <strong>A user with that username already exists.</strong>
                </div>
                <div id="username-empty-error" class="alert-box alert-danger not-visible" role="alert">
                    <strong>Username cannot be empty.</strong>
                </div>
            </div>
            <br>
            <div id="password-wrapper">
                <label>Password:</label>
                <input id="password-field" type="password" name="password" class="form-control" placeholder="Password">
                <div id="password-empty-error" class="alert-box alert-danger not-visible" role="alert">
                    <strong>Password cannot be empty..</strong>
                </div>
            </div>
            <br>
            <div id="password-confirm-wrapper">
                <label>Confirm password:</label>
                <input id="password-confirm-field" type="password" name="password-confirm" class="form-control" placeholder="Confirm password">
                <div id="password-error" class="alert-box alert-danger not-visible" role="alert">
                    <strong>Passwords do not match.</strong>
                </div>
            </div>
            <br>
            <hr class="black">
            <div>
                <label class="inline-block">Codeivate username:</label>
                <p class="inline-block glyphicon glyphicon-question-sign info-popover" rel="popover" data-original-title="What's this?" data-content="Provide us with your Codeivate username so that we can keep track of your stats and compare them to other users." data-html="true" data-trigger="hover"></p>
            </div>
            <input id="codeivate-username-field" type="text" name="codeivate-username" class="form-control" placeholder="Codeivate username">
            <br>
            <div>
                <label class="inline-block">Github username:</label>
                <p class="inline-block glyphicon glyphicon-question-sign info-popover" rel="popover" data-original-title="What's this?" data-content="Provide us with your Github handle so that we can retrieve public projects that you are working on so that other users can see what you've been working on.  You can leave this blank if you don't wish to share your project information with others." data-html="true" data-trigger="hover"></p>
            </div>
            <input id="github-username-field" type="text" name="github-username" class="form-control" placeholder="Github username">
            <br>
            <input id="register-submit-button" type="button" class="btn btn-success width-20 center" name="register" value="Register">
        </form>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/lib/knockout-3.1.0.js"></script>
<script src="/js/lib/linq.min.js"></script>
<script src="/js/lib/masonry.pkgd.js"></script>
<script src="/js/lib/sha1.js"></script>
<script src="/js/common.js"></script>
<script src="/js/users/register.js"></script>
<script src="/viewmodels/viewmodels.js"></script>
</body>
</html>